<!doctype html>
<html>
    <head>
        <meta charset="utf8">
    </head>
    <body>
        <form method="post" action="">
            <label for="query_name">Leage of Legend Id: </label>    
            <input type="text" name="query_name">
        </form>
        <ul>
            <li><a href="你根本在發廢文">你根本在發廢文</a></li>
            <li><a href="嵐辰星月夜">嵐辰星月夜</a></li>
            <li><a href="性侵大使">性侵大使</a></li>
            <li><a href="人品爆發揪咪030">人品爆發揪咪030</a></li>
            <li><a href="戰神露特娜">戰神露特娜</a></li>
            <li><a href="Aragorn">Aragorn</a></li>
            <li><a href="HappyStorm">HappyStrom</a></li>
            <!-- <li><a href=""></a> -->
        </ul>
    </body>
</html>
